Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

#if a dir or file exists, use it:
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
